{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block content %}
<div id="pageContainer">
    <div id="contentWrap">
        <form action="/submit" method="post" id="mainForm">
            <label for="band">Band:</label>
            <select id="band" name="band">
                <option value="" disabled selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="bedrooms">Bedrooms:</label>
            <select id="bedrooms" name="bedrooms">
                <option value="" disabled selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="designation">Designation:</label>
            <select id="designation" name="designation">
                <option value="" disabled selected></option>
                <option value="gen">Under 60s accomodation</option>
                <option value="oap">Over 60s accomodation</option>
                <option value="soap">Sheltered over 60s accomodation</option>
            </select>

            <label for="postcode">Area:</label>
            <select id="postcode" name="postcode">
                <option value="" disabled selected></option>
                <option value="NP7">Abergavenny</option>
                <option value="NP26">Caldicot</option>
                <option value="NP16">Chepstow</option>
                <option value="NP25">Monmouth</option>
                <option value="NP15">Usk</option>
            </select>

            <input type="submit" value="Submit">
        </form>

        <div id="results">
            <h2>{{result}}</h2>
            <p>{{numLets}}</p>
            <p>{{parameters}}</p>
        </div>
    </div>

    <footer>&copy; Jamie Brine</footer>
</div>
{% endblock %}