@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  --header-height: 75px;
  --primary-color: #003944;
  --secondary-color: #3cb6e7;
  --accent-color: #fbc51d;
  --text-color: #3c3c3b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Omnes", Arial, sans-serif;
  color: var(--text-color);
  display: flex;

  margin: 0;
  position: relative;
  min-height: 100svh;
  width: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("graphic.png");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.35;
  z-index: -1;
}

h1 {
  color: var(--primary-color);
  @media screen and (max-width: 400px) {
    font-size: 1.5em;
  }
}

h2 {
  color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
  appearance: none;
  background-color: white;
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

input,
button {
  appearance: none;
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}

input {
  width: 100%;
  background-color: var(--secondary-color);
}

button {
  background-color: var(--accent-color);
}

select:hover,
input:hover,
button:hover {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.displayBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
}

#logo {
  height: var(--header-height);
}

#introduction {
  flex-direction: column;
}

#infoContent {
  width: 100%;
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

#mainContent {
  flex-direction: column;
  padding-top: 0px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

#mainForm {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  padding: 10px;

  @media screen and (min-width: 768px) {
    flex-basis: 40%;
  }
}

#results {
  padding: 10px;
  justify-self: stretch;
  align-self: stretch;

  @media screen and (min-width: 768px) {
    flex-basis: 60%;
  }
}

#result,
#fixedPara {
  margin-top: 0px;
}

#spacer {
  height: var(--header-height);
}
