@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  --header-height: 75px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Omnes", Arial, sans-serif;
  color: #3c3c3b;

  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

h1 {
  color: #74af26;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

select:hover {
  outline: none;
  border-color: #74af26;
  box-shadow: 0 0 0 2px rgba(116, 175, 38, 0.2);
}

input {
  appearance: none;
  background-color: #b3cf81;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

input:hover {
  outline: none;
  border-color: #74af26;
  box-shadow: 0 0 0 2px rgba(116, 175, 38, 0.2);
}

#contentWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

#logo {
  margin: 5px;
  height: calc(var(--header-height) - 10px);
}

#mainForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  @media screen and (min-width: 600px) {
    flex-basis: 40%;
  }
}

#results {
  padding: 20px;
  @media screen and (min-width: 600px) {
    flex-basis: 60%;
  }
  justify-self: stretch;
  align-self: stretch;
}

#spacer {
  height: var(--header-height);
}
