@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Your custom styles go here */

form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
  color: green;
}
